<form class="row g-3 mb-1 ms-1 me-1">
  <div class="d-flex justify-content-center">
    <h1>Dados pessoais</h1>
  </div>
  <div class="col-md-6">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" />
  </div>
  <div class="col-md-6">
    <label for="sobrenome" class="form-label">Sobrenome</label>
    <input type="text" class="form-control" id="sobrenome" />
  </div>
  <div class="col-md-6">
    <label for="idade" class="form-label">Idade</label>
    <input type="number" class="form-control" id="idade" />
  </div>
  <div class="col-md-6">
    <label for="dataNascimento" class="form-label">Data de Nascimento</label>
    <input type="date" class="form-control" id="dataNascimento" />
  </div>
  <div class="col-md-6">
    <label for="nomeMae" class="form-label">Nome da Mae</label>
    <input type="text" class="form-control" id="nomeMae" />
  </div>
  <div class="col-md-6">
    <label for="nomePai" class="form-label">Nome do Pai</label>
    <input type="text" class="form-control" id="nomePai" />
  </div>
  <div class="col-md-6">
    <label for="cpf" class="form-label">CPF</label>
    <input type="number" class="form-control" id="cpf" />
  </div>
  <div class="col-md-6">
    <label for="rg" class="form-label">RG</label>
    <input type="number" class="form-control" id="rg" />
  </div>
</form>
