<form class="row g-3 mb-1 ms-1 me-1">
  <div class="d-flex justify-content-center">
    <h1>Endereco</h1>
  </div>
  <div class="col-md-6">
    <label for="rua" class="form-label">Rua</label>
    <input type="text" class="form-control" id="rua" />
  </div>
  <div class="col-md-6">
    <label for="bairro" class="form-label">Bairro</label>
    <input type="text" class="form-control" id="bairro" />
  </div>
  <div class="col-md-6">
    <label for="numero" class="form-label">Numero</label>
    <input type="number" class="form-control" id="numero" />
  </div>
  <div class="col-md-6">
    <label for="cidade" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="cidade" />
  </div>
  <div class="col-md-6">
    <label for="logradouro" class="form-label">Logradouro</label>
    <input type="text" class="form-control" id="logradouro" />
  </div>
  <div class="col-md-6">
    <label for="estado" class="form-label">Estado</label>
    <input type="text" class="form-control" id="estado" />
  </div>
  <div class="col-md-6">
    <label for="cep" class="form-label">CEP</label>
    <input type="number" class="form-control" id="cep" />
  </div>
  <div class="col-md-6">
    <label for="pontoDeReferencia" class="form-label">
      Ponto de referencia
    </label>
    <input type="text" class="form-control" id="pontoDeReferencia" />
  </div>
</form>
