<form class="row g-3 mb-1 ms-1 me-1">
  <div class="d-flex justify-content-center">
    <h1>Caracteristicas</h1>
  </div>
  <div class="col-md-6">
    <label for="altura" class="form-label">Altura</label>
    <input type="number" class="form-control" id="altura" />
  </div>
  <div class="col-md-6">
    <label for="peso" class="form-label">Peso</label>
    <input type="number" class="form-control" id="peso" />
  </div>
  <div class="col-md-6">
    <label for="tipoSanguineo" class="form-label">Tipo sanguineo</label>
    <input type="text" class="form-control" id="tipoSanguineo" />
  </div>
  <div class="col-md-6">
    <label for="corPreferida" class="form-label">Cor preferida</label>
    <input type="text" class="form-control" id="corPreferida" />
  </div>
  <div class="col-md-6">
    <label for="signo" class="form-label">Signo</label>
    <input type="text" class="form-control" id="signo" />
  </div>
  <div class="col-md-6">
    <label for="animalPreferido" class="form-label">Animal preferido</label>
    <input type="text" class="form-control" id="animalPreferido" />
  </div>
</form>
