<form class="row g-3 mb-1 ms-1 me-1">
  <div class="d-flex justify-content-center">
    <h1>Dados cadastrais</h1>
  </div>
  <div class="col-md-6">
    <label for="nomeDeUsuario" class="form-label">Nome de usuario</label>
    <input type="text" class="form-control" id="nomeDeUsuario" />
  </div>
  <div class="col-md-6">
    <label for="nomeDoPai" class="form-label">Nome do Pai</label>
    <input type="text" class="form-control" id="nomeDoPai" />
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="col-md-6">
    <label for="senha" class="form-label">Senha</label>
    <input type="password" class="form-control" id="senha" />
  </div>
  <div class="col-md-6">
    <label for="ddd" class="form-label">DDD</label>
    <input type="number" class="form-control" id="ddd" />
  </div>
  <div class="col-md-6">
    <label for="celular" class="form-label">Celular</label>
    <input type="tel" class="form-control" id="celular" />
  </div>
</form>
