<ion-content [fullscreen]="true" class="base">
  <ion-card class="form">
    <ion-card-content>
      <swiper-container loop="false">
        <swiper-slide>
          <app-dados-pessoais></app-dados-pessoais>
        </swiper-slide>
        <swiper-slide>
          <app-dados-cadastrais></app-dados-cadastrais>
        </swiper-slide>
        <swiper-slide>
          <app-endereco></app-endereco>
        </swiper-slide>
        <swiper-slide>
          <app-caracteristicas></app-caracteristicas>
        </swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>
</ion-content>
